
body {
  margin: 0;
}

h1 {
  color: #FFF;
  font-family: p22-franklin-caslon;
  font-size: 5.5em;
  font-weight: normal;
  margin: 0.5em 0 0.75em;
  text-align: center;
}

ol {
  color: #222;
  font-family: p22-franklin-caslon;
  font-size: 1.25em;
  line-height: 1.5em;
  list-style-type: upper-roman;
  margin: 0 auto;
  width: 50%;
}

li {
  margin-bottom: 1em;
}

footer {
  background: black;
  color: #9d9d9d;
  font-family: gill sans;
  font-size: .85em;
  margin: 0 auto;
  padding: 3em 0;
  text-align: center;
  width: 100%;
}

footer li {
  border-right: 1px solid #999;
  display: inline;
  padding: 0 1em;
}

footer li.last {
  border-right: none;
}

footer a {
  color: #fff;
  padding: 0.2em;
  text-decoration: none;
}

footer a:visited {
  color: #757575;
}

footer a:hover {
  color: #fff;
  border-bottom: 1px solid;
}

#home {
  background: url(../images/bgclouds.png) 50% 0 repeat fixed; 
  min-height: 1000px;
}

#commandments {
  margin: 0 auto;
  padding: 6em 20px 10em;
  width: 80%;
}

/**** ANIMATION ****/
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInDown {
  -webkit-animation: slideInDown 5s;
  animation: slideInDown 5s;
}
/**** END ANIMATION ****/
